<form action="/language" method="Post">
  <input type="text" name="name">
  <select name="lang">
    <option value="English">English</option>
    <option value="French">French</option>
    <option value="Spanish">Spanish</option>
  </select>
  <input type="submit" value="submit">
</form>
