img {
    width: 120px;
}

h1.title {
  font-weight: bold;
}

body {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

td {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
  /*background-color: grey;*/
  border-right: solid 3px black;

}

tr {
  background-color: grey;
}

tr.lightgrey {
  background-color: lightgrey
}

tr.white {
  background-color: white;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: inline;
  font-size: 20px;
}

div.top {
text-align: right;
margin-right: 10px
}

div.metro {
  font-size: 15px;
}

li {
  margin-top: 10px
}

hr {
  font-size: 10px
}
