<h2>Company Profile</h2>
<!--action and method-->
<!--action is URL-->
<!--method is HTTP Verb (GET/POST)-->
<form action="/company" method="POST">
  <input type="text" name="first_name" placeholder="First Name"><br>
  <input type="text" name="last_name" placeholder="Last Name"><br>
  <input type="email" name="Email" placeholder="Email"><br>
  <input type="submit" value="Subscribe">
</form>
