<form action="/archive" method="post">
  Title: <input type="text" name="title" placeholder="note title"><br><br>
  Note:<br>
  <textarea rows="10" cols="30" name="note" placeholder="Enter note here">
  </textarea><br>
  <input type="submit" value="Save">
</form>
<form action="/archive" method="post">
  <input type="submit" value="see notes">
</form>
