<form action="/" method="post">
  <h3>Name:</h3><input name="name"><br>

  <h3>Address:</h3><input name="address"><br>

  <h3>Department:</h3>
    <input type= "radio" name="department" value="marketing">Marketing
    <input type= "radio" name="department" value="sales">Sales
    <input type= "radio" name="department" value="tech">Tech
  <br>

  <h3>Message:</h3>
  <textarea name="message" row="40" cols="50">
  </textarea><br>

  <input type="submit" value="submit">
</form>
