<form action="/" method="post">
  <input type="text" name="todo" placeholder="Enter your task here">
  <input type="submit" value="let's make a list!">
</form>
<form action="/" method="post">
  <input type="submit" value="see list">
</form>
